// | -------------------------------------------------------------
// | Container
// | -------------------------------------------------------------

@use "breakpoint" as *;

.container-mascots {
  margin: 0 auto;
  padding: 0 calc(2rem / 2);
  max-width: 60%;

  @include breakpoint(medium) {
    padding: 0 2rem;
  }

  @include breakpoint(large) {
    padding: 0 calc(2rem / 2);
    max-width: 500px;
  }

  &.stretch {
    max-width: 60%;
  }
}